SECRET_KEY="oob6hq##mxbh&81g&(c5!8+yj)if6um&nbx4&krnjya(%sy_$1"
ALLOWED_HOSTS=.localhost,127.0.0.1,test.aiformarketings.com
DB_NAME=aiformakerting_new
DB_USER=aiformakerting_new
DB_PASSWORD=hPzDFyyM6tW4Jkbh
DB_HOST=localhost
DB_PORT=3306
